@import url('fontface-thaisansneue.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html{
  overflow-x: hidden;
}

body{
  margin: 0;
  font-family: 'Thaisans Neue for Web', sans-serif !important;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

.KMUTT{
  max-width: 200px;
  margin: 1em;
}

.SIT{
  max-width: 170px;
  margin: 1em;
}

.logo{
  max-width: 80px;
  margin: 2em;
}

.Brand{
  font-size: 1.2em;
}

/* FIRST SECTION */
#main{
  background-color: rgba(0, 0, 0, 0.5);
  height: auto;
  min-height: 560px;
  color: #fff;
}

.mainBag{
  margin-top: 2em;
  height: 17em;
}

.boxDetail{
  text-align: left;
  height: 21.5em;
  margin-top: 2em;
  background-color: rgba(142, 110, 85, 0.8);
}

.icon-main{
  text-align: center;
  padding: 0;
}

.fa-clock-o{
  font-size: 2.95em;
  margin-top: 0.16em;
}

.fa-map-marker{
  font-size: 2.95em;
  margin-left: 0.15em;
  margin-top: 0.125em;
}

.center{
  margin: 0 auto;
}

.detail-main{
  padding-left: 0.75em;
}

.boxDetail h1{
  text-align: center;
}

.boxDetail h2{
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 1.3em;
}

.boxDetail h4{
  margin-top: 0;
  font-size: 1em;
}

.mainMenu{
  margin : 2.5em 0;
}

.mainMenu a {
  margin: 0 0.5em;
  color: #fff;
  font-size: 1.1em;
  text-decoration: none;
  cursor: pointer;
}

.whatis-btn{
  display: none;
  border-bottom: solid 0.07em;
  transition: 0.2s;
}
.whatis-btn:hover{
  border-bottom: solid 0.15em;
  transition: 0.2s;
}
.session-btn{
  border: 2px solid white;
  padding:0.3em 0.8em 0.3em 0.8em;
  transition: 0.3s;
}
.session-btn:hover{
  background-color: white;
  color: rgba(168, 132, 113, 0.85);
  transition: 0.3s;
  text-decoration: none;
}

/* END FIRST SECTOR */

/* WHATIS */
#whatis{
  background-color: #fbd0b3;
  color: #5F3307;
  height: auto;
  padding: 3em 2em 6em 2em;
}
#whatis blockquote{
  border-left: 5px solid #5F3307;
}
#whatis a{
  color: #a27200;
}
#whatis b{
  font-size: 1.4em;
}
#whatis span{
  font-size: 1.1em;
  letter-spacing: 0.0425em;
  line-height: 1.58;
  font-weight: 400;
  font-style: normal;
}
#whatis span:first-child{
  font-size: 19px;
}
#whatis ol li{
  font-size: 17px;
}
/* END WHATIS */

/* TIMETABLE */
#timetable{
  background-color: rgba(95, 51, 7, 0.8);
  color: #fff;
  height: auto;
}

.timetable{
  margin-top: 2em;
}

.bodyTimetable{
  margin-top: 1em;
  margin-bottom: 6em;
}

.time{
  color: #F0E6B1;
  font-size: 1.4em;
}

.event{
  color: #fff;
  font-size: 1.25em;
}
/* END TIMETABLE */

/* SPONSOR */
#sponsor{
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  height: auto;
  min-height: 568px;
  padding: 5em 2em;
}
/* END SPONSOR */

/* CONTACT */
#contact{
    background-color: #8E6F56;
    color: wheat;
    height: auto;
    position: relative;
    min-height: 568px;
    padding: 2em 2em;
}
#contact a{
    color: wheat;
}
#contact .baglogo{
  height: 7em;
}
#contact .icon{
  background-color: #70584B;
  padding: 0.5em;
  border-radius: 20px;
}
#contact i{
  font-size: 1.5em;
}
#contact h2{
  margin-top: 0.3em;
}
#contact h3{
  margin-top: 0.5em;
}
#contact .endline{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background-color: #553B25;
}
.evbLogo{
  height: 45.38px;
  margin-top: -1.6em;
  margin-left: 0.7em;
}
/* END CONTACT */

/* Bootstrap Config */
.navbar-collapse{
  transition: 0.3s;
}
.navbar-nav{
  transition: 0.3s;
}
.navbar-default-edit{
  background: transparent;
  border-color: transparent;
  transition: 0.3s;
}
.navbar-default .navbar-toggle-edit{
  background: transparent;
  border-color : #fff;
}
.navbar-default .navbar-toggle-edit:focus, .navbar-default .navbar-toggle-edit:hover{
  background: transparent;
}
.navbar-collapse-edit{
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar-collapse-edit li a{
  color: white;
}
.navbar-default-edit .navbar-toggle-edit .icon-bar{
  background-color: #fff;
}
.navbar-default .navbar-nav>li>a{
    transition: 0.3s;
}
.navbar-nav>li>a {
    cursor: pointer;
    color: #ffffff;
    background-color: transparent;
    transition: 0.3s;
}
.navbar-nav>li>a:hover {
    cursor: pointer;
    color: #A88471;
    background-color: transparent;
    transition: 0.3s;
}
.navbar-inverse-edit{
  background-color: transparent;
  border-color: transparent;
  border: 0px;
}
.navbar-inverse-edit .navbar-toggle{
  border-color: #fff;
}
.navbar-inverse-edit .navbar-nav>li>a{
  color: white;
}
.navbar-inverse-edit .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background-color: transparent;
}
/* END Bootstrap Config*/

/* Edit Font in Mobile */
@media screen and
(min-width:320px){
  .h1Config{
    font-size: 25px;
  }
}
@media screen and
(min-width:360px) {
  #whatis h1{
    font-size: 40px;
  }
  #whatis span{
    font-size: 15px;
  }
}
@media screen and
(min-width:412px) {
  .mainMenu a {
    font-size: 1.4em;
  }
  #whatis h1{
    font-size: 46px;
  }
  #whatis span{
    font-size: 20px;
  }
}
/* END Edit Font in Mobile */
/* TABLET */
@media screen and (min-width : 768px){
  .mainBag{
    margin-top: 12.5em;
    height: 18em;
  }
  .boxDetail{
    height: 40.5em;
    margin-top: 0;
  }
  .boxDetail h1{
    font-size: 3em;
    text-align: left;
    margin-top: 3em;
    margin-left: 1.5em;
  }
  .boxDetail h2{
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 1.5em;
  }
  .boxDetail h4{
    margin-top: 0;
    font-size: 1.2em;
  }
  .boxDetail .row{
    margin-top: 2em;
  }
  .whatis-btn{
    display: inline;
  }
  .mainMenu a:first-child{
    margin-left: 0.9em;
  }
  .mainMenu a{
    font-size: 1.1em;
  }
  .time{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
  .event{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
  #contact{
    min-height: 16em;
  }
}

/* END TABLET*/



/* Desktops and Laptops */
@media screen and (min-width: 992px){
  .mainBag{
    margin-top: 5em;
    height: 28em;
  }
  .boxDetail{
    height: 40.5em;
    margin-top: 0;
  }
  .boxDetail h1{
    font-size: 3.5em;
    text-align: left;
    margin-top: 3em;
    margin-left: 1.5em;
  }
  .boxDetail h2{
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 1.8em;
  }
  .boxDetail h4{
    margin-top: 0;
    font-size: 1.5em;
  }
  .boxDetail .row{
    margin-top: 2em;
  }
  .mainMenu a:first-child{
    margin-left: 1em;
  }
}

@media screen and (min-width:1300px){
  .mainMenu a {
    font-size: 1.5em;
  }
}

/* END Desktops and Laptops */

/* IPAD PRO */
@media screen and (device-width: 1024px){
  .boxDetail h2 {
    margin-left: 0.7em;
  }
  .boxDetail h4 {
    margin-left: 1em;
  }
  .mainMenu a:first-child {
    margin-left: 3.5em;
  }
}
/* END IPAD PRO */

.affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
.navbar {
    margin-bottom: 0px;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}
