@import url('fontface-thaisansneue.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    margin: 0;
    font-family: 'Thaisans Neue for Web', sans-serif !important;
}

#whatis{
    background-color: #EEC1A2;
    color: #5F3307;
    height: auto;
    min-height: 568px;
    padding: 2em 2em;
}

#sponsor{
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    height: auto;
    min-height: 568px;
    padding: 5em 2em;
}